body {
    background-image: url(texture.jpg);
}

header {
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
    margin-top: 2rem;
    gap: 0.5rem;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5rem;
}

#search {
    color: #31AE9D;
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: #000 3px solid;
}

#submit {
    width: 2rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#search:valid, #search:focus {
    border-color: #31AE9D;
}

#submit:hover {
    color: #31AE9D;
}

#submit:active {
    animation: click .5s;
}

@keyframes click {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

main {
    display: flex;
    justify-content: center;
}

.pokemon {
    padding: 0.5rem 0;
    border: 3px solid #000;
    text-align: center;
    width: 20rem;
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 2rem;
}

.pokemon ul {
    text-align: left;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
